<!DOCTYPE html>
<html>
<head>
  <title>Payment Receipt</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f7f7f7;
    }
    .container {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      background-color: #fafafa;
      border-radius: 6px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    h2 {
      color: #333;
      font-size: 24px;
      margin-bottom: 20px;
    }
    p {
      margin-bottom: 10px;
      line-height: 1.5;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
    }
    th, td {
      padding: 10px;
      border-bottom: 1px solid #ddd;
      text-align: left;
    }
    th {
      font-weight: bold;
    }
    .button {
      display: inline-block;
      background-color: #4CAF50;
      color: white;
      padding: 12px 24px;
      text-align: center;
      text-decoration: none;
      border-radius: 4px;
      font-weight: bold;
      transition: background-color 0.3s ease;
    }
    .button:hover {
      background-color: #45a049;
    }
    .footer {
      font-size: 14px;
      color: #777;
      margin-top: 30px;
    }
    .footer p {
      margin: 0;
    }
    .footer a {
      color: #777;
      text-decoration: none;
    }
  </style>
</head>
<body>
  <div class="container">
    <h3>Payment Receipt</h3>
    <p>Dear <%= name %>,</p>
    
    <p>Thank you for your payment. We have successfully received the payment for your rent:</p>
    
    <table>
      <tr>
        <th>Transaction ID:</th>
        <td><%= paymentId %></td>
      </tr>
      <tr>
        <th>Payment Date:</th>
        <td><%= date %></td>
      </tr>
      <tr>
        <th>Amount Paid:</th>
        <td>GHS <%= amount %></td>
      </tr>
      <tr>
        <th>Payment Method:</th>
        <td><%= paymentMethod %></td>
      </tr>
    </table>
    
    <p>If you have any questions or concerns regarding this payment or your account, please feel free to contact our customer support team at support@mikirent.com</p>
   
    <p>Click the button below to view your receipt:</p>
     <div style="text-align: center;"> 
          <a class="button" style="color: white;" href="<%= link %>">View Receipt</a>
    </div>
    
    <div class="footer" style="text-align: center;">
      <p>Thank you for choosing our services.</p>
      <p>Best regards,<br>
      Miki Rent</p>
    </div>
  </div>
</body>
</html>
